@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
	margin: 0;
	font-family: 'notokr-regular', 'Noto Sans KR', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Malgun Gothic',
		'맑은 고딕', dotum, '돋움', 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
